<div class="content" fxFlex="574px" fxLayout="column" *ngIf="(questionnaireLoaded$ | async)">
  <div class="content__cards" fxFlex="0 1 100%" fxLayout="column" fxLayoutAlign="center center">
    <div class="content__cards_card" [@slideCardTwoWay]="currentIndexOfCard">
      <ng-container *ngFor="let item of listQuestionnaire$ | async; let i = index">
        <app-card (getIdQuestionnaire)="currentIdQuestionnaire = $event" fxFlex="0 1 auto" fxLayout="column" [data]="item" [current]="i" [total]="questionnaireTotal$ | async" *ngIf="currentIndexOfCard === i"></app-card>
      </ng-container>
    </div>
  </div>
  <app-buttons fxFlex="1 0 147px" fxLayout="row" fxLayoutAlign="center start" (answer)="selectedAnswer($event)"></app-buttons>
</div>
<mat-spinner *ngIf="!(questionnaireLoaded$ | async)"></mat-spinner>

