:host{
  background-color: #FFFFFF;
  overflow: hidden;
}
.content{
  height: 100%;
  &__cards{
    &_card{
      position: relative;
      min-height: 574px;
      width: 100%;
      height: auto;
    }
  }
}
