<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="header__logo">
        <img src="assets/icons/logo.svg" alt="logo">
    </div>
    <div class="header__navigation" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="65px">
        <div class="links" fxLayoutGap="40px">
            <a href="">Products</a>
            <a href="">Technologies</a>
            <a href="">Clients</a>
            <a href="">Case Studies</a>
            <a href="">Feedbacks</a>
            <a href="">Contact Us</a>
        </div>
        <button mat-stroked-button class="get-a-quote-btn" fxLayoutAlign="center center">
            Get a Quote
        </button>
    </div>
</div>
