.header {
    height: 100%;
    background: #374246;
    padding: 0 110px;

    &__navigation {
        .links > a {
            font-weight: 500;
            color: #F4F6F7;
            text-decoration: none;
            font-size: 17px;
            line-height: 20px;

            &:hover {
                color: #72AC0D;
            }
        }

        .get-a-quote-btn {
            border: 1px solid cadetblue;
            font-weight: bold;
            text-transform: uppercase;
            width: 156px;
            height: 30px;
            color: #C9D3D6;
            line-height: 1;
            border-color: #72AC0D;
            padding: 0;
        }

        .links,
        .get-a-quote-btn {
            &:hover {
                color: #72AC0D;
            }
        }
    }
}