<ng-container *ngFor="let item of gestureList">
  <div class="gestures" fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center" (click)="selectedGesture.emit(item)">
    <div fxLayoutGap="30px" fxLayoutAlign="center center">
      <mat-icon [svgIcon]="item.ico"  aria-hidden="false"></mat-icon>
      <span class="gestures__name">{{ item.name }}</span>
    </div>
    <span class="gestures__description">{{ item.description }}</span>
  </div>
</ng-container>

