:host {
  margin-top: 41px;
}

.gestures {
  //position: relative;
  height: 23px;
  margin-bottom: 60px;
  position: relative;
  left: -22px;
  width: calc(100% + 22px);

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    //position: absolute;
    //left: -22px;
    //top: -10px;
  }

  &__name {
    font-size: 19px;
    font-weight: 700;
    color: #C9D3D6;
  }

  &__description {
    font-size: 19px;
    font-weight: 400;
    color: #A7D000;
  }
}
