
<div class="questionnaire" fxFlex="100%" fxLayout="row" fxFlexFill>
  <app-content fxFlex="100%" fxLayoutAlign="center center"></app-content>
  <app-info class="questionnaire__info" fxFlex="1 0 488px" fxLayoutAlign="center"></app-info>
</div>
