<div class="image">
  <img src="assets/videos/{{selectedGesture.gif}}" alt="confirm">
</div>
<div class="footer" fxFlex fxLayout="row" fxLayoutAlign="start baseline">
  <mat-icon [svgIcon]="selectedGesture.ico" aria-hidden="false"></mat-icon>
  <span class="footer__name">{{selectedGesture.name}}</span>
  <span class="footer__description">{{selectedGesture.description}}</span>
</div>
