.image {
  margin-top: 23px;
  margin-bottom: 41px;
  height: 232px;

  img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.footer {
  $imgWH: 45px;
  position: relative;
  height: 23px;

  mat-icon, img {
    width: $imgWH;
    height: $imgWH;
    position: absolute;
    left: 0;
    top: -15px;
  }

  &__name {
    color: #C9D3D6;
    margin-left: $imgWH + 15px;
    font-size: 19px;
    line-height: 23.16px;
    font-weight: 700;
  }

  &__description {
    color: #A7D000;
    font-size: 19px;
    line-height: 23.16px;
    font-weight: 400;
    margin-left: auto;
  }
}
