
<div class="info" fxFlex="411px" fxLayout="column" fxLayoutAlign="flex-start center">
  <div class="info__web-camera" fxLayout="column">
    <div class="info__web-camera_title" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <span>Your motion capture</span>
      <ng-container [ngSwitch]="currentGestureIco$ | async">
        <ng-container *ngVar="'rock-fingers' as variable">
          <mat-icon *ngSwitchCase="variable" [@opacityAnimations] [svgIcon]="variable" aria-hidden="false"></mat-icon>
        </ng-container>
        <ng-container *ngVar="'thumbs-up' as variable">
          <mat-icon *ngSwitchCase="variable" [@opacityAnimations] [svgIcon]="variable" aria-hidden="false"></mat-icon>
        </ng-container>
        <ng-container *ngVar="'two-fingers' as variable">
          <mat-icon *ngSwitchCase="variable" [@opacityAnimations] [svgIcon]="variable" aria-hidden="false"></mat-icon>
        </ng-container>
        <ng-container *ngVar="'one-finger' as variable">
          <mat-icon *ngSwitchCase="variable" [@opacityAnimations] [svgIcon]="variable" aria-hidden="false"></mat-icon>
        </ng-container>
        <ng-container *ngVar="'fist' as variable">
          <mat-icon *ngSwitchCase="variable" [@opacityAnimations] [svgIcon]="variable" aria-hidden="false"></mat-icon>
        </ng-container>
        <ng-container *ngVar="'wave-hand' as variable">
          <mat-icon *ngSwitchCase="variable" [@opacityAnimations] [svgIcon]="variable" aria-hidden="false"></mat-icon>
          <mat-icon *ngSwitchDefault [@opacityAnimations] [svgIcon]="variable" aria-hidden="false"></mat-icon>
        </ng-container>
      </ng-container>
    </div>
    <div class="info__web-camera_content" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner *ngIf="!(loadedWebcam$ | async)"></mat-spinner>
      <video muted playsinline #video [width]="streamWidth" [height]="streamHeight" autoplay [srcObject]="stream"></video>
      <canvas #canvas [width]="streamWidth" [height]="streamHeight"></canvas>
    </div>
  </div>
  <div class="info__example" fxFlex="0 1 auto">
    <app-example fxFlex="100%" fxLayout="column"></app-example>
  </div>
</div>

<ng-template #icoTemplate let-name>
  <mat-icon *ngSwitchCase="name" [@opacityAnimations] [svgIcon]="name" aria-hidden="false"></mat-icon>
</ng-template>
