:host{
  background-color: #272727;
}

.info{
  width: 410px;
  &__web-camera{
    margin-top: 36px;
    &_title{
      $title-height: 26px;
      height: $title-height;
      font-size: 21px;
      font-weight: 500;
      color: #707E84;
      margin-bottom: 24px;
      position: relative;
      img, mat-icon{
        height: 40px;
        width: 46px;
        position: absolute;
        right: 0;
        top: -($title-height / 2);
      }
    }
    &_content{
      width: 410px;
      height: 257px;
      position: relative;
      overflow: hidden;
      .mat-spinner{
        ::ng-deep{
          circle{
            stroke: #383E41;
          }
        }
      }
      video{
        opacity: 0;
      }
      & > *:not(.mat-spinner) {
        position: absolute;
        left: 0;
        right: 0;
        width: auto;
        // width: 100%; // если нужно ратянуть зображение, но оно тогда исказится (лицо станет шире)
        height: 100%;
        margin: auto;
      }
    }
  }
  &__example{
    margin-top: 50px;
    width: 100%;
  }
}
