<div class="example" [ngClass]="{opend: isOpened}" fxFlex="0 1 auto" fxLayout="column">
  <div class="example__title" fxFlex fxLayout="row" fxLayoutAlign="start center">
    <span>Examples of gestures</span>
    <mat-icon class="example__title_rock" svgIcon="rock-fingers" aria-hidden="false"></mat-icon>
    <div class="example__title_status" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center"
         (click)="toggleStatus()">
      <mat-icon [@opacityAnimations] data-opened *ngIf="isOpened" matTooltip="List mode" svgIcon="example-close"
                aria-hidden="false"></mat-icon>
      <mat-icon [@opacityAnimations] *ngIf="!isOpened" matTooltip="Preview mode" svgIcon="example-play"
                aria-hidden="false"></mat-icon>
    </div>
  </div>
  <div class="example__content">
    <app-preview [@opacityAnimations] *ngIf="isOpened" fxFlex="100%" fxLayout="column"
                 [selectedGesture]="selectedGesture"></app-preview>
    <app-list [@opacityAnimations] *ngIf="!isOpened" fxFlex="100%" fxLayout="column"
              (selectedGesture)="changeSelectedGesture($event)"></app-list>
  </div>
</div>
