@import '_mixins';

$examplePadding: 20px;

.example{
  user-select: none;
  width: 100%;
  padding: $examplePadding;
  background-color: transparent;
  @include transition(background);
  &.opend{
    background-color:#383E41;
  }
  &__title{
    $title-height: 26px;
    height: $title-height;
    span{
      color: #C9D3D6;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 25.6px;
    }
    &_rock{
      margin-left: auto;
      height: 25px;
      width: 25px;
    }
    &_status{
      margin-left: 7px;
      height: 21px;
      width: 21px;
      cursor: pointer;
      position: relative;
      mat-icon{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        &[data-opened] {
          height: 15px;
          width: 15px;
          margin: auto;
        }
      }
    }
  }
  &__content{
    margin-bottom: 33px - $examplePadding;
    position: relative;
  }
}
