<button fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center" class="button" data-action="no" mat-flat-button
        (click)="selectedAnswer(false)">
  <mat-icon svgIcon="fist" aria-hidden="false"></mat-icon>
  <span>No</span>
</button>
<button fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="space-between center" class="button" data-action="yes"
        mat-flat-button (click)="selectedAnswer(true)">
  <mat-icon svgIcon="thumbs-up" aria-hidden="false"></mat-icon>
  <span>Yes</span>
</button>
