:host{
  // margin-top: 60px;
}

.button{
  height: 59px;
  width: 159px;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 0 15px;
  mat-icon{
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
  }
  span{
    font-size: 25px;
    font-weight: 700;
  }
  &[data-action="no"]{
    background-color: #E97550;
    mat-icon{
      margin-bottom: 2px;
    }
    span{
      margin-left: 19px;
    }
  }
  &[data-action="yes"]{
    background-color: #72AC0D;
    mat-icon{
      margin-bottom: 5px;
    }
    span{
      margin-left: 22px;
    }
  }
  &:nth-child(1){
    margin-right: 67px;
  }
}
