<div class="card__count" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
  <span class="card__count_current">{{ current | count: total }}</span>
  <span class="card__count_total">of {{ total }}</span>
</div>
<div class="card__image" fxFlex="0 1 auto" fxLayoutAlign="center center">
  <img [src]="imageSrc" [alt]="imageAlt">
</div>
<div class="card__text" fxFlex="0 1 auto">{{ text }}</div>
