$wh: 574px;
:host{
  min-width: $wh;
  min-height: $wh;
  width: $wh;
  height: auto;
  background: linear-gradient(135deg, #F0F0F3, #FFFFFF);
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 37px 32px 4px 25px;
}

.card__count{
  .card__count_current{
    font-size: 57px;
    font-weight: 700;
    color: #707E84;
    line-height: 1;
  }
  .card__count_total{
    font-size: 25px;
    font-weight: 400;
    color: #C9D3D6;
    margin-left: 14px;
    line-height: 1;
  }
  margin-bottom: 24px;
}

.card__image{
  width: 100%;
  height: 305px;
  img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: fill;
    text-align: center;
    color: #707E84;
  }
}
.card__text{
  margin-top: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 151.16%;
  color: #3F4A4E;

}
