<section fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="user-form" fxFlex="0 1 auto" fxLayout="column">
    <span class="user-form__title">Enter your personal info</span>
    <form [formGroup]="userFormGroup" class="example-form" fxLayout="column"
          (ngSubmit)="onSubmitUserForm()"
    >

      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>First name*</mat-label>
          <input formControlName="firstName" autocomplete="disabled" matInput placeholder="First name">
          <mat-icon class="done-icon" matSuffix
                    [ngClass]="{visible: userFormGroup.controls.firstName.valid}"
          >
            done
          </mat-icon>
          <mat-error
            *ngIf="userFormGroup?.get('firstName')?.touched
                    && userFormGroup?.get('firstName')?.hasError('required')"
          >
            First name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last name*</mat-label>
          <input formControlName="lastName" autocomplete="disabled" matInput placeholder="Last name">
          <mat-icon class="done-icon"
                    [ngClass]="{visible: userFormGroup.controls.lastName.valid}" matSuffix
          >
            done
          </mat-icon>
          <mat-error
            *ngIf="userFormGroup?.get('lastName')?.touched
                    && userFormGroup?.get('lastName')?.hasError('required')"
          >
            Last name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Age*</mat-label>
          <input formControlName="age" matInput placeholder="Age">
          <mat-icon class="done-icon" matSuffix
                    [ngClass]="{visible: userFormGroup.controls.age.valid}"
          >
            done
          </mat-icon>
          <mat-error
            *ngIf="userFormGroup?.get('age')?.touched
                    && userFormGroup?.get('age')?.hasError('required')"
          >
            Age is required
          </mat-error>
          <mat-error
            *ngIf="userFormGroup?.get('age')?.touched
                    && userFormGroup?.get('age')?.hasError('pattern')"
          >
            Only numbers
          </mat-error>
        </mat-form-field>
      </div>

      <button type="submit"
              [ngClass]="{disabled: !userFormGroup.valid}"
              [disabled]="!userFormGroup.valid" class="btn-3 submit-btn" fxLayoutAlign="center center">
        Submit
      </button>
    </form>
  </div>
</section>
