:host {
  height: 100%;
  font-family: Montserrat, sans-serif;
  background-color: #FFFFFF;
}

.user-form {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  width: 550px;
  color: black;

  &__title {
    color: #707E84;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
    position: relative;

    &:before, &:after {
      content: "";
      height: 1px;
      position: absolute;
      top: 10px;
      width: 15%;
      background-color: #707e8454;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}

.submit-btn {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
  7px 7px 20px 0 rgba(0, 0, 0, .1),
  4px 4px 5px 0 rgba(0, 0, 0, .1);

  background: linear-gradient(
      0deg, #374246ab 0%, #374246 100%);
  line-height: 42px;
  padding: 0;
  border: none;

  &:hover {
    box-shadow: none;
    opacity: 0.9;
  }

  &.disabled {
    opacity: 0.4;
    box-shadow: none;
    cursor: initial;
  }
}

.done-icon {
  visibility: hidden;

  &.visible {
    visibility: visible;
    color: #72AC0D;
    font-weight: 700;
  }
}

.mat-form-field {
  margin-bottom: 10px;
}
