/* You can add global styles to this file, and also import other style files */

/*
  * ----------------------------------------
  * Overrides components
  * ----------------------------------------
  */

  @import 'scss/overrides/mat-button';

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
  }


  .mat-card-header-text {
    margin: 0 !important;
  }
