$transitionDur: 0.4s;

@mixin transition($keys...) {
	@include transitionDur(($keys), $transitionDur);
}

@mixin transitionDur($keys, $dur) {
	$transition_str: ();
	$will_str: ();
	@each $key in $keys {
		$transition_str: append($transition_str, unquote('#{$key} #{$transitionDur}'), 'comma');
		$will_str: append($will_str, unquote('#{$key}'), 'comma');
	}
	will-change: $will_str;
	transition: $transition_str;
}
