:host {
  height: 100%;
  font-family: Montserrat, sans-serif;
  background-color: #FFFFFF;
}

.answers {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  max-width: 900px;
  width: 80%;

  &__title {
    color: #707E84;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  &__list {
    width: 100%;
    color: #3F4A4E;
    font-size: 16px;
  }

  &__item {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding-bottom: 5px;
  }
}


.question-number {
  font-weight: 600;
}

.answer {
  font-weight: 600;
  color: #a0a0a0c2;

  &.positive {
    color: #72AC0D;
  }

  &.negative {
    color: red;
  }
}

.mat-list-base .mat-list-item {
  height: auto;
}
