<section fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="answers" fxFlex="0 1 auto" fxLayout="column">
    <span class="answers__title">Results of responses to the questionnaire:</span>
    <div fxLayoutGap="10px" class="answers__list" role="list" fxFlex="0 1 auto" fxLayout="column">
      <div class="answers__item" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start"
           *ngFor="let questionnaireData of listQuestionnaireAll$ | async; let i = index"
      >
        <div fxLayout="row" fxLayoutGap="10px" fxFlex>
          <span class="question-number" fxFlex="20px">
            {{ i + 1 }}
          </span>

          <span class="question-text" fxFlex>
            {{ questionnaireData.text }}
          </span>
        </div>
        <span class="answer" fxFlex="65px" fxLayoutAlign="center start"
              [ngClass]=" {
                positive: questionnaireData.answer === 'yes',
                negative: questionnaireData.answer === 'no'
               }"
        >{{ questionnaireData.answer }}</span>
      </div>
    </div>
  </div>
</section>
